# Byte-compiled / cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment folders
env/
venv/
ENV/
.venv/

# Mac / Windows system files
.DS_Store
Thumbs.db

# Environment / secrets files
.env

# VSCode or IDE settings
.vscode/
.idea/
